certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.2
gunicorn==19.7.1
idna==2.6
lxml==4.1.1
oauthlib==2.0.6
pafy==0.5.4
procfile==0.1.0
PyJWT==1.6.0
python-memcached==1.59
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-core==1.7.0
urllib3==1.22
whitenoise==3.3.1
xmltodict==0.11.0
youtube-dl==2018.3.10
